body {
    background-color: #1F77ED;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 3rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {    
    margin-top: 1rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(114, 138, 175, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(114, 138, 175, 1);
    box-shadow: 0px 5px 5px 0px rgba(114, 138, 175, 1);
}


input {
    background-color: #e3e3e3 !important;
    margin-left: 1rem;
}

.login-header {
    padding: 1rem;
}

.submit,
.form-check {
    margin: 1rem;
}

.register {
    color: #0069d9;
    Font-weight: 700;
}

.forgot-pass {
    text-decoration: none;
    color: #878787;
    Font-weight: 700;
}

.social-login {
    width: 75%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
}

.social-icons {
    margin-right: 1rem;
}

.facebook {
    background-color: #4166B5;
    color: #fff;
}

.google {
    background-color: #DC4C39;
    color: #fff;
}

.github {
    background-color: #444444;
    color: #fff;
}